* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    background-color: white;
}


/* Menu */

.container {
    max-width: 2000px;
    margin: 0%;
    padding: 1% 2% 1% 7%;
    background-color: rgba(0, 0, 0, 0.871);
    /* width: 50%; */
}

nav {
    /* display: flex; */
    justify-content:space-between;
    align-items: center;
    position: fixed;
}

nav ul a {
    color: white;
    margin: 0 25px 0 0; /* spaço entre os menus */
    text-transform: uppercase;
    font-size: 17px;
}

nav ul a:hover {
    color: hsl(15, 100%, 50%);
    transition: 0.3s; /* Suaviza a transição de hover */
}

.logo {
    color: hsl(15, 100%, 50%);
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 3%;
}

.menu ul .symbol::after {
    content: ">"; /* Símbolo a ser adicionado */
    color: hsl(15, 100%, 50%);
    font-weight: bold; /* Define o símbolo como negrito */
    right: 0; /* Posiciona o símbolo à direita */
    padding-left: 4px;
    transition: 0.3s;
}

.menu ul .symbol:hover::after {
    content: ">";
    color: white;
    font-weight: bold;
}
/* end menu */


/* Section one */
section .home {
    max-width: 100%;
    height: auto;
}

.home {
    background-image: url(https://img.freepik.com/premium-photo/blurred-bokeh-style-backlights_1154196-337.jpg?semt=ais_hybrid);
    background-size: cover;
}

.titulo-sobre {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    white-space: nowrap;
    color: white;
    padding-bottom: 3px;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    white-space: nowrap;
    color: white;
}
.span-1 {
    background-color: hsl(15, 100%, 50%);
    box-sizing: border-box;
    font-size: 1em;
    padding: 2px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s;
}

section .banner{
    padding-left: 7%;
}

.home {
    display: flex;
    align-items: center;
}

.foto-livia {
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 100%; /* Garante que o contêiner não ultrapasse a largura da tela */
    /* overflow: hidden; Oculta qualquer excesso */
}

.foto-livia img {
    width:100%; /* Faz a imagem ocupar 100% da largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 1100px; /* Define um tamanho máximo opcional para não esticar a imagem em telas grandes */
    /* border-radius: 10px; Opcional: para cantos arredondados */
}

.btn {
    border: 2px solid white; /* Borda branca */
    background-color: transparent; /* Fundo transparente */
    color: white; /* Cor do texto em branco */
    padding: 10px 50px; /* Ajuste conforme necessário */
    font-size: 16px; /* Ajuste conforme necessário */
    border-radius: 7px; /* Cantos arredondados */
    transition: 0.3s; /* Suaviza a transição de hover */
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn:hover {
    background-color: hsl(15, 100%, 50%); /* Fundo ao passar o mouse */
    border: 2px solid hsl(15, 100%, 50%);
}

div .btn-home {
    padding-top: 4%;
}

/* Responsividade */
@media (max-width: 1200px) {
    .container {
        max-width: 100%; /* Ocupa toda a tela em dispositivos menores */
        padding: 0% 5%; /* Reduz o padding nas laterais */
    }

    nav ul a {
        font-size: 1rem; /* Diminui o tamanho da fonte dos links do menu */
        margin: 0 15px; /* Reduz o espaço entre os links */
    }

    .btn {
        font-size: 14px; /* Ajusta o tamanho do botão */
        padding: 8px 40px; /* Reduz o padding */
    }

}

@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Empilha o menu verticalmente */
    }

    nav ul {
        display: flex;
        flex-direction: column; /* Alinha os links verticalmente */
        align-items: center; /* Centraliza os links */
        gap: 15px; /* Espaço entre os links */
    }

    .btn {
        padding: 8px 30px; /* Ajusta o padding do botão */
    }
}

@media (max-width: 480px) {
    nav ul a {
        font-size: 0.9rem; /* Diminui o tamanho da fonte dos links */
        margin: 0 10px; /* Reduz o espaço entre links */
    }

    .titulo-sobre {
        font-size: 1.5em; /* Reduz o tamanho do título */
        white-space: normal; /* Permite quebra de linha no título */
    }

    .foto-livia img {
        max-width: 100%; /* Imagem ocupa toda a largura disponível */
        height: auto; /* Mantém a proporção da imagem */
    }

    .btn {
        padding: 8px 20px; /* Ajusta o padding para um botão mais compacto */
        font-size: 14px; /* Reduz o tamanho da fonte do botão */
    }
}
/* Responsividade */
/* end section one */

/* section two */

.trabalhos{
    width: auto;
    height: 453px;
}
.titulo h1{
    color: rgb(255, 55, 0);
    padding: 5% 0 3% 0;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
} 

.capa-servicos{
    display: flex;
    padding: 3% 0% 5% 7%;
    justify-content: center;
    align-items: center;
}
.foto-capa img{
    border: 5px solid #ccc;
    padding: 5px;
    border-radius: 20px;
    width: 400px;
    height: auto;
}
div .texto-capa{
    margin-left: 4%;
    box-sizing: border-box;
    max-width: 500px;
}
.fundo-branco{
    font-size: 2em; /* Tamanho da fonte */
    color: #2e2e2d;;
    font-family: 'Filson Font', sans-serif;
    font-weight: bolder;
    padding-bottom: 5%;
}
p{
    font-family:  Muli, sans-serif;
    color: #2e2e2d;
    font-size: 20px;
    display: block;
    height: auto;
    margin: 0 0 10px;
    font-weight: 200;
}

.cards{
    display: flex; /* Para layouts em grid */
    background-color: hsl(0, 0%, 90%);
    width: auto;
    height: auto;
    justify-content: center; /* Centraliza horizontalmente */
}

.cards-1{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 200px;
    height: 300px;
    margin: 3% 3%;
    padding: 20px;
}
.foto-card-1 img{
    justify-content: center; /* Centraliza horizontalmente */
    border-radius: 20px; /* Bordas arredondadas */
    align-items: center; /* Centraliza verticalmente */
    width: 80px;
    height: auto;  
    display: block;
    margin: 0 auto;
}
.fundo-branco-cards{
    font-size: 1.5em; 
    color: rgb(255, 55, 0);
    font-family: Muli, sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 6% 0;
}
.p-cards{
    color: #2e2e2d;
    text-align: center;
    font-size: 1em;
    font-family: Muli, sans-serif;
}

/* end section two */

span {
    background-color: hsl(15, 100%, 50%);
    box-sizing: border-box;
    color: white;
    font-size: 1em;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    color: black;
    padding: 5% 0 3% 0;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 10%;
}
.titulo2 {
    margin-left:16%;
}

.capa-sobre{
    display: flex; /* Define o layout flexível */
    align-items: flex-start; /* Alinha os elementos no topo */
    gap: 40px; /* Espaço entre a imagem e o texto */
    align-items: center;
    padding: 6% 20% 5% 0%;
}

.foto-sobre img{
    border: 5px solid #ccc;
    padding: 5px;
    border-radius: 20px;
    width: 500px;
    height: auto;
    margin-left: 4%;
}
.texto-sobre{
    box-sizing: border-box;
    max-width: 500px;
    text-align: end;
}
